@font-face {
    font-family: 'iconfont'; /* Project id 2625220 */
    src: url('//at.alicdn.com/t/font_2625220_3594lac2xnf.woff2?t=1624440517473') format('woff2'),
        url('//at.alicdn.com/t/font_2625220_3594lac2xnf.woff?t=1624440517473') format('woff'),
        url('//at.alicdn.com/t/font_2625220_3594lac2xnf.ttf?t=1624440517473') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-right1:before {
    content: '\e608';
}

.icon-Rightbutton-fill:before {
    content: '\e78a';
}

.icon-shouji:before {
    content: '\e633';
}

.icon-simqia:before {
    content: '\e61d';
}

.icon-yiyuanmiaosha:before {
    content: '\e610';
}

.icon-shuaqiaqiapianyinhangqia:before {
    content: '\e622';
}

.icon-shuaxin:before {
    content: '\e85e';
}

.icon-56wangluoanquan20_liwu:before {
    content: '\e61c';
}

.icon-left:before {
    content: '\e68a';
}

.icon-right:before {
    content: '\e68b';
}

.icon-sousuo:before {
    content: '\e78b';
}

.icon-gouwuche:before {
    content: '\e726';
}
